// webpack.config.js

const js = {
  test: /\.jsx?$/,
  exclude: /node_modules/,
  use: [
    {
      loader: 'babel-loader',
      options: {
        presets: [['@babel/preset-env', {
          useBuiltIns: 'entry',
          corejs: '3.0.0',
        }]],
      },
    },
    'eslint-loader',
  ],
};