// webpack.config.js

const HtmlWebpackPlugin = require('html-webpack-plugin'); //installed via npm

module.exports = {
    module: {
        rules: [ /* ... */ ]            
    },
    plugins: [
        new HtmlWebpackPlugin({template: './src/index.html'})
    ]
};