// webpack.config.js

const mainHtmlPaths = glob.sync('./src/**/*.html', { ignore: ['./src/prototypes/partials/*.html', './src/toolkit/partials/*.html'] });
mainHtmlPaths.map((singlePath) => {
  // ... process singlePath to htmlFilename and htmlTemplate
  return new HTMLWebpackPlugin({
    htmlFilename,
    htmlTemplate,
    inject: 'head',
    meta: { viewport: config.viewport }
  });
});
