// webpack.config.js

// HTML loaders
const html = {
    test: /\.html$/,
    use: [{
        loader: 'html-loader',
        options: {
            interpolate: true,
            minimize: false,
        },
    }],
};